<h1>Memberships</h1>

<nav>
  <a href="/choirs">Choirs</a>
  <a href="/choir_members">Choir Members</a>
  <a href="/climbing_gyms">Climbing Gyms</a>
  <a href="/gym_members">All Gym Members</a>
</nav>
